@import "~bootstrap/dist/css/bootstrap.css";

.main {
  margin-left: 180px;
  padding: 0px 10px;
  font-family: "Microsoft Tai Le";
}

/*gif di caricamento*/
#loadingImage{
  position: absolute;
  top:100px;
  display: inline-block;
  background-color: white;
  width:fit-content;
}

/*tabella risultati dati*/
.my-custom-scrollbar {
  position: relative;
  height: 450px;
  overflow: auto;
}
.table-wrapper-scroll-y {
  display: block;
}
.table_text{
  text-align: center;
}

/*form di inserimento dati*/
#input_id #id{
  display: inline-block;
}
#input_id .btn .search_btn{
  display: inline-block;
}
#input_id .search_btn{
  width:50px;
  height:50px;
  display: inline-block;
}

/*paragrafo che mostra il range di valori*/
#range{
  font-size: 50px;
}
