<div class="main">
  <h1>Benvenuti nella <i>Home Page</i> !</h1>

  <div class="card-deck">

    <div class="col">

      <!--COMPONENTE RICERCA TRENI-->
      <a routerLink="/searchtrain">
        <div id="searchTrain" class="card text-white bg-info articoli">
          <div class="card-header"><span id="intestazione">Servono Indicazioni?</span></div>
          <div class="card-body">

            <div id="desc">
              <h5 class="card-title"><span id="testo"><b>Ricerca Treni</b></span></h5>
              <p class="card-text"><span id="testo">Utilizza questa pagina per cercare uno
                  specifico viaggio!</span></p>
            </div>
          </div>
        </div>
      </a>

      <br>

      <!--COMPONENTE RICERCA STAZIONI-->
      <a routerLink="/searchstation">
        <div id="searchStation" class="card text-white bg-info articoli">
          <div class="card-header"><span id="intestazione">Cerchi una Stazione?</span></div>
          <div class="card-body">

            <div id="desc">
              <h5 class="card-title"><span id="testo"><b>Ricerca Stazioni</b></span></h5>
              <p class="card-text"><span id="testo">Visualizza delle specifiche<br>stazioni
                  italiane!</span></p>
            </div>
          </div>
        </div>
      </a>

    </div>


    <div class="col">

      <!--COMPONENTE MAPPA-->
      <a routerLink="/map">
        <div id="mappa" class="card text-white bg-info articoli">
          <div class="card-header"><span id="intestazione">Serve una Mappa?</span></div>
          <div class="card-body">
            <div id="desc">
              <h5 class="card-title"><span id="testo"><b>Mappa</b></span></h5>
              <p class="card-text"><span id="testo">Visualizza la tua ricerca nella nostra
                  mappa!</span></p>
            </div>
          </div>
        </div>
      </a>

      <br>

      <!--COMPONENTE DIZIONARIO PERCORSI-->
      <a routerLink="/routedictionary">
        <div id="routeDict" class="card text-white bg-info articoli">
          <div class="card-header"><span id="intestazione">Cerchi un Treno Specifico?</span></div>
          <div class="card-body">

            <div id="desc">
              <h5 class="card-title"><span id="testo"><b>Dizionario Percorsi</b></span></h5>
              <p class="card-text"><span id="testo">Consulta il nostro inedito Dizionario contenente la maggior parte dei codici delle tratte ferroviarie!</span></p>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>

</div>
