@import "~bootstrap/dist/css/bootstrap.css";

.main {
  margin-left: 180px; /* Same as the width of the sidebar */
  padding: 0px 25px;
  font-family: "Microsoft Tai Le";
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}
/* On mouse-over, add a deeper shadow */
.card:hover {
  transform: scale(1.05);
  box-shadow: 0 25px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.bg-custom-1 {
  background-color: rgba(0, 0, 0, 0.2);
}

.articoli{
  width: 100%;
  min-height: 200px;
}
/* COMPONENTE RICERCA TRENI */
#searchTrain{
  background-image: url("https://i.ibb.co/y66CBzx/search-train.jpg");
  color:black;
  height:350px;
  position: relative;
}
#searchTrain #desc{
  position: absolute;
  bottom: 25px;
}
#searchTrain #intestazione{
  color:white;
  font-size: 50px;
}
#searchTrain #testo{
  color:white;
  font-size: 30px;
}

/* COMPONENTE RICERCA STAZIONI */
#searchStation{
  background-image: url("https://i.ibb.co/0MngQBm/search-station.jpg");
  color:black;
  height:350px;
}
#searchStation #intestazione{
  font-size: 50px;
}
#searchStation #testo{
  font-size: 30px;
}
#searchStation #desc{
  position: absolute;
  bottom: 25px;
}

/* COMPONENTE MAPPA */
#mappa{
  background-image: url("https://i.ibb.co/Z6vQMgv/map.png");
  color:black;
  height:350px;
}
#mappa #desc{
  position: absolute;
  bottom: 25px;
}
#mappa #intestazione{
  color:black;
  font-size: 50px;
}
#mappa #testo{
  color:black;
  font-size: 30px;
}

/* COMPONENTE DIZIONARIO PERCORSI */
#routeDict{
  background-image: url("https://i.ibb.co/w4d828w/route-dict.jpg");
  color:black;
  height:350px;
}
#routeDict #desc{
  position: absolute;
  bottom: 25px;
}
#routeDict #intestazione{
  font-size: 50px;
}
#routeDict #testo{
  font-size: 30px;
}

.card-deck{
  padding:5% 5% 5% 5%;
}

a{
  text-decoration: none;
}
