<div class="main">
  <h1>Lista Stazioni</h1>
  <p>
    Stazione:
    <input type="text" #nomestazione value="" class="form-control w-25">
  </p>
  <p>
    <button (click)="richiestaNomeStazione(nomestazione)" class="btn btn-dark">Ricerca</button>
  </p>

  <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Stazione</th>
      <th scope="col">Regione</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let stazione of dati">
      <th scope="row">{{stazione.id_staz}}</th>
      <td>{{stazione.name}}</td>
      <td>{{stazione.regione}}</td>
    </tr>
  </tbody>
</table>
<!--{{dati | json}} -->
</div>

