<div class="main">
  <h1>Ricerca Treni</h1>

  <!--form di inserimento dei dati-->
  <!--INPUT: nomi stazioni-->
  <div>
    <p id="input_staz">
      Inserisci <i>Stazione di Partenza</i> : <br>
      <input type="text" #partenza value="" class="form-control w-25">
      Inserisci <i>Stazione di Destinazione</i> : <br>
      <input type="text" #destinazione value="" class="form-control w-25" id="dest">
      <button (click)="richiestaPartenzaDestinazione(partenza, destinazione)" class="btn">
        <img id="search_btn" width="125px" src="https://i.ibb.co/vH9vJ2D/search-button.png">
      </button>
    </p>

    <h3>Oppure:</h3>

    <!--INPUT: id treno-->
    <p id="input_id">
      Inserisci il <i>Numero del Treno</i> : <br>
      <input type="text" #numerotreno value="" class="form-control w-25" id="dest">
      <button (click)="richiestaIdTreno(numerotreno)" class="btn">
        <img width="125px" src="https://i.ibb.co/vH9vJ2D/search-button.png" id="search_btn">
      </button>
    </p>

  </div>
  <!--gif di caricamento-->
  <div id="loadingImage" *ngIf="isLoading()">
    <h3>Caricamento in corso ... <br> Attendere prego</h3>
    <img width="500px" src="https://i.kym-cdn.com/photos/images/original/000/630/914/b51.gif">
  </div>

  <!--risultati ricerca-->
  <!--OUTPUT: soluzioni di viaggio dalla partenza alla destinazione-->
  <div *ngIf="tiporichiesta === 'PARTENZA_DEST'" class="card-columns">
    <div *ngFor="let treno of dati" class="card card w-55">

      <div class="card-body text-center">
        <h4 class="card-title">{{treno.origin}} <br /> {{treno.destination}}</h4>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <h5>Treni da utilizzare:</h5>
          <p *ngFor="let numerotreno of treno.trainlist">
            {{numerotreno.traintype}} {{numerotreno.trainacronym}} {{numerotreno.trainidentifier}}
          </p>
        </li>
        <li class="list-group-item">
          <h5>Partenza:</h5>{{this.convOrario(treno.departuretime)}}
        </li>
        <li class="list-group-item">
          <h5>Durata del Viaggio:</h5>{{ this.toText(treno.duration) }}
        </li>
        <li class="list-group-item">
          <h5>Arrivo:</h5>{{this.convOrario(treno.arrivaltime)}}
        </li>
        <li class="list-group-item">

          <span *ngIf="treno.originalPrice || treno.minprice">
            <h5>Prezzo Calcolato:</h5>{{treno.originalPrice}} €
          </span>
          <span *ngIf="!treno.originalPrice || !treno.minprice">
            <h5>Prezzo non trovato!</h5>
          </span>
        </li>
      </ul>

    </div>
  </div>

  <!--OUTPUT: dati sui treni che hanno un certo id-->
  <div *ngIf="tiporichiesta === 'ID_TRENO'" class="card-columns">
    <div class="card card w-55">
      <div class="card-body text-center">
        <h4 class="card-title"><img src="{{dati.img_url}}" alt="tipotreno" height=50 width=50></h4>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <h5 class="font-weight-bold">Treno Numero: {{dati.train_id}}</h5>
        </li>
        <li class="list-group-item">
          <h5>Ferma a:</h5>
          <div *ngFor="let fermate of dati.middle_stations">
            <span *ngIf="fermate.isFirst">
              <h5 class="text-primary">{{this.capitalizeWords(fermate.station_name)}}</h5>
              <h5 class="text-primary">Partenza: {{fermate.departure_time}}</h5>
            </span>
            <span *ngIf="!fermate.isFirst && !fermate.isLast">
              <h6>{{this.capitalizeWords(fermate.station_name)}}</h6>
              <h6>{{fermate.arrival_time}}</h6>
            </span>
            <span *ngIf="fermate.isLast">
              <h5 class="text-danger">{{this.capitalizeWords(fermate.station_name)}}</h5>
              <h5 class="text-danger">Arrivo: {{fermate.arrival_time}}</h5>
            </span>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <!--SE IL TRENO NON ESISTE:-->
  <div *ngIf="tiporichiesta === 'NON_ESISTE'" class="card-columns">
    <P>Il treno cercato non esiste</P>
  </div>

</div>
