<div class="main">
  <h1>Pagina Principale! Benvenuto!</h1>
  <!--Da implementare più tardi-->
  <div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
  <div class="card text-white bg-info" style="max-width: 18rem;">
    <div class="card-header">Servono Indicazioni?</div>
    <div class="card-body">
      <h5 class="card-title">Ricerca Treni</h5>
      <p class="card-text">Utilizza questa pagina per cercare il viaggio più adatto a te!</p>
    </div>
    <a href="/searchtrain" class="btn btn-info">Clicca Qui</a>
  </div>
  </div>
  <div class="col">
  <div class="card text-white bg-info" style="max-width: 18rem;">
    <div class="card-header">Serve vedere la posizione?</div>
    <div class="card-body">
      <h5 class="card-title">Mappa</h5>
      <p class="card-text">Visualizza la tua ricerca in una mappa!</p>
    </div>
    <a href="/map" class="btn btn-info">Clicca Qui</a>
  </div>
  </div>
  <div class="col">
  <div class="card text-white bg-info" style="max-width: 18rem;">
    <div class="card-header">Cerchi una stazione?</div>
    <div class="card-body">
      <h5 class="card-title">Ricerca Stazioni</h5>
      <p class="card-text">Visualizza il tuo risultato cercando tra le stazioni di tutta italia!</p>
    </div>
    <a href="/searchstation" class="btn btn-info">Clicca Qui</a>
  </div>
  </div>
  </div>
</div>
