<router-outlet>

    <nav class="navbar navbar-expand-lg navbar-light bg-light main">
      <p>{{dati_informa.message}}</p>
    </nav>
    <!-- Sidebar -->
    <div class="sidenav">
      <div class="sidenav-heading">No Train, <br> No Rail </div>
      <a href="/home">Pagina Principale</a>
      <a href="/searchtrain">Ricerca</a>
      <a href="/map">Mappa</a>
      <a href="/searchstation">Lista Stazioni</a>
      <a href="/routedictionary">Dizionario Percorsi</a>

    </div>
<!--https://cdn.dribbble.com/users/611291/screenshots/1959754/train.gif nuova gif da sostituire-->

</router-outlet>

