@import "~bootstrap/dist/css/bootstrap.css";

.main {
  margin-left: 180px;
  padding: 0px 10px;
  font-family: "Microsoft Tai Le";
}
/*gif di caricamento*/
#loadingImage{
  position: absolute;
  top:40px;
  left: 750px;
  background-color: white;
  width:fit-content;
}

/*tabella dei risultati*/
.my-custom-scrollbar {
  position: relative;
  height: 650px;
  overflow: auto;
}
.table-wrapper-scroll-y {
  display: block;
}
.table_text{
  text-align: center;
}

/*form di inserimento dati*/
#input_nomeStaz #nome{
  display: inline-block;
}
#input_nomeStaz #search_btn{
  width:50px;
  height:50px;
  display: inline-block;
}
