@import "~bootstrap/dist/css/bootstrap.css";

.main {
  margin-left: 180px; /* Same as the width of the sidebar */
  padding: 0px 10px;
  font-family: "Microsoft Tai Le";
}

agm-map
{
  height: 800px;
}
