@import "~bootstrap/dist/css/bootstrap.css";

.main {
  margin-left: 180px; /* Same as the width of the sidebar */
  padding: 0px 10px;
  font-family: "Microsoft Tai Le";
}

.map-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 200px;
}

.map-frame {
  border: 0px solid black;
  height: 110%;
  width: 70%;
}

#map {
  height: 110%;
  width: 70%;
}
