<nav class="navbar navbar-expand-lg navbar-light bg-light main">
  <p>{{dati_informa.message}}</p>
</nav>
<!-- Sidebar -->
<div class="sidenav">
  <div class="sidenav-heading">No Train, <br> No Rail </div>

  <!--link agli altri componenti-->
  <a routerLink="/home">Pagina Principale</a>
  <a routerLink="/searchtrain">Ricerca Treni</a>
  <a routerLink="/searchstation">Ricerca Stazioni</a>
  <a routerLink="/map">Mappa</a>
  <a routerLink="/routedictionary">Dizionario Percorsi</a>

  <!--crediti-->
  <div class="TEST" id="credits">
    <hr id="credits-hr">
    <div id="credits-image">
      <img width="100px" src="https://i.ibb.co/NrjKjXP/logo-sito.png">
    </div>
    <a class="text-center">Creato da
      <a target="_blank" href="https://github.com/FoxLuc"><b>Luca Ferrari</b></a>
      e
      <a target="_blank" href="https://github.com/Andrea-Favullo"><b>Andrea Favullo</b></a>
    </a>
  </div>
</div>

<router-outlet></router-outlet>



<!--https://cdn.dribbble.com/users/611291/screenshots/1959754/train.gif nuova gif da sostituire-->
<!-- https://cdn.pixabay.com/photo/2019/12/18/05/43/rail-logo-4703155_1280.jpg immagine logo crediti -->
