@import "~bootstrap/dist/css/bootstrap.css";

.main {
  margin-left: 180px; /* Same as the width of the sidebar */
  padding: 0px 10px;
  font-family: "Microsoft Tai Le";
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

#loadingImage{
  position: absolute;
  top:100px;
  left: 750px;
}
